//Colores
$celeste: #49cee2;
$verde: #6bb985;
$azul: #353a57; 
$gris: #e8e6e6;
$blanco: #ffff;
$rojo: #f46061;

//Tipografías

$titulo: 'Bebas Neue', cursive;
$cuerpo: 'Poppins', sans-serif;
$regular: 300;
$bold: 600;